*{
    margin: 0px;
    padding: 0px;
}
nav{
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #440 568;
    padding: 10px 200px;
    border-bottom: 4px solid darkmagenta;
}
nav .logo{
    font-style: 40px;
    color: white;

}
ul{
    display: flex;
}
ul li{
    list-style: none;
    margin: 10px 5px;

}
nav ul li a{
    text-decoration: none;
    color: white;
    font-weight: bold;
    font-size: 20px;
    padding: 10px 20px;
    border-radius: 10px;
}
nav ul li a:hover{
    background-color: black;
    color: red;
}
/* Hero area start here */
.search-box{
    display: flex;
    justify-content: center;
    align-items: center;
}
.search-box i{
    color: red;
    background-color: green;
    font-size: 25px;
    width: 50px;
    height: 40px;
    display: flex;
    justify-content: center;
    align-items: center;
    border-top-right-radius: 5px;
    border-bottom-right-radius: 5px;
    cursor: pointer;
    
}
.search-box input{
    width: 500px;
    height: 40px;
    border-top-left-radius: 5px;
    border-bottom-left-radius: 5px;
    font-size: 20px;
    padding-left: 20px;
}
.hero-area{
    background-image: url(hero.jpg);
    padding: 200px 0px;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}
/* Main section start here */
main{
    background-color: #771f92;
}
section{
    width: 1300px;
    margin: auto;
    padding: 70px 0px 50px 0px;
}
.letest-video-heading{
    display: flex;
    justify-content: space-between;
}
.letest-video-text{
    font-size: 30px;
    color: rgb(36, 173, 116);
}
.pages{
    color:rgb(36, 173, 116);
}
.pages span{
    background-color: #fff;
    color: black;
    padding: 5px 8px;
    border-radius: 4px;
    margin: 0px 10px;
    border: 3px solid rgb(1, 1, 20);
}
.six-cards-container{
    display: grid;
    grid-template-columns: repeat(4,1fr);
    grid-row-gap: 60px;
    grid-column-gap: 30px;
    margin-top: 20px;
}
.single-cards{
    height: 250px;
}
.single-cards img{
    width: 100%;
    height: 100%;
    border: 3px solid gray;
    transition: 0.5s;
    cursor: pointer;
}
.single-cards:hover img{
    transform: scale(1.1);
   
    border-radius: 20px;
}
.card-text{
    display: flex;
    justify-content: space-between;
    color: gray;
    margin-top: 10px;
}
/* previous next gape code start here */
.Privious-next-button-container{
    display: flex;
    justify-content: space-between;
    margin-top: 100px;
}
.Privious-next-button-container a{
    text-decoration: none;
    color: white;
}
.Privious-next-button-container h3 a{
    background-color: #1da15f;
    padding: 10px 25px;
    border-radius: 5px;
    transition: 0.5s;
}
.Privious-next-button-container h3 a:hover{
    background-color: #4af597;
}
.Privious-next-button-container .four-boxs a{
    background-color:white;
    margin: 0px 10px;
    color: black;
    padding: 8px;
    border-radius: 5px;
    border: 1px so rgb(94, 91, 91);
}
.Privious-next-button-container .four-boxs a:first-child{
    background-color: #1da15f;
    color: white;
}
